<a href="https://colab.research.google.com/github/1503-ng/Curso-de-Python/blob/master/estudo_corona.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import pandas as pd

df = pd.read_csv('/content/drive/My Drive/patient.csv')
df.head()

   patient_id     sex  birth_year  ... released_date deceased_date     state
0           1  female      1984.0  ...    2020-02-06           NaN  released
1           2    male      1964.0  ...    2020-02-05           NaN  released
2           3    male      1966.0  ...    2020-02-12           NaN  released
3           4    male      1964.0  ...    2020-02-09           NaN  released
4           5    male      1987.0  ...    2020-03-02           NaN  released

[5 rows x 15 columns]

In [4]:
name_column_port = df.rename(columns={'patient_id':'paciente_id', 'sex':'sexo','birth_year':'ano que nasceu','country':'país','region': 'região', 'disease':'doença','group':'grupo','infection_reason':'causa_da_infeccao','infection_order':'ordem_de_infeccao','infected_by':'infectado_por','contact_number':'número_de_contato','confirmed_date':'data_de_confirmacao','released_date':'data_de_liberacao','deceased_date':'data_de_falecimento','state':'estado'})
print(name_column_port)

      paciente_id    sexo  ...  data_de_falecimento    estado
0               1  female  ...                  NaN  released
1               2    male  ...                  NaN  released
2               3    male  ...                  NaN  released
3               4    male  ...                  NaN  released
4               5    male  ...                  NaN  released
...           ...     ...  ...                  ...       ...
7864         7865     NaN  ...                  NaN  isolated
7865         7866     NaN  ...                  NaN  isolated
7866         7867     NaN  ...                  NaN  isolated
7867         7868     NaN  ...                  NaN  isolated
7868         7869     NaN  ...                  NaN  isolated

[7869 rows x 15 columns]